{% extends '_base.html' %}

{% block title %}Contracts{% endblock title %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                
                <div class="row">
                    <!-- Latest Update Starts -->
                    <div class="col-xl-4 col-md-6 col-12 dashboard-latest-update">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center pb-50">
                                <h4 class="card-title">Rent Status/Month</h4>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSec" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        2019
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSec">
                                        <a class="dropdown-item" href="#">2019</a>
                                        <a class="dropdown-item" href="#">2018</a>
                                        <a class="dropdown-item" href="#">2017</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body p-0 pb-1">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-danger m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-danger font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">December</span>
                                                    <small class="text-muted d-block">Unpaid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">November</span>
                                                    <small class="text-muted d-block">Fully Paid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">October</span>
                                                    <small class="text-muted d-block">Fully Paid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">September</span>
                                                    <small class="text-muted d-block">Fully Paid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">August</span>
                                                    <small class="text-muted d-block">Fully Paid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                        <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-dollar text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-content">
                                                    <span class="list-title">July</span>
                                                    <small class="text-muted d-block">Fully Paid</small>
                                                </div>
                                            </div>
                                            <span>$500</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earning Swiper Starts -->
                    <!-- Multi Radial Chart Starts -->
                    <div class="col-xl-4 col-md-6 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="greeting-text">Apartament Piata Romana Str. Cutare</h3>
                                <p class="mb-0">Price paid for the property + Expenses </p>
                                <p class="mb-0">Money recovered % since buy date</p>
                                <p class="mb-0">How much time until fully recovered</p>
                               
                                
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <div class="dashboard-content-left">
                                            <h1 class="text-success font-large-2 text-bold-500">$500</h1>
                                            <p>You have an avarage of 7% ROI</p>
                                            <button type="button" class="btn btn-primary glow">View Property</button>
                                        </div>
                                        <div class="dashboard-content-right">
                                            <img src="#" height="220" width="220" class="img-fluid" alt="Photo of property here " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-12 dashboard-users">
                        <div class="row  ">
                            <!-- Statistics Cards Starts -->
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-primary mx-auto mb-50">
                                                        <i class="bx bx-calendar font-medium-5"></i>
                                                    </div>
                                                    
                                                    <h3 class="mb-0">{{ contract.start_date }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 dashboard-users-danger">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                                        <i class="bx bx-calendar font-medium-5"></i>
                                                    </div>
                                                    <h3 class="mb-0">{{ contract.end_date }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-6 col-12 dashboard-revenue-growth">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between align-items-center pb-0">
                                                <h4 class="card-title">Revenue Growth</h4>
                                                <div class="d-flex align-items-end justify-content-end">
                                                    <span class="mr-25">$25,980</span>
                                                    <i class="bx bx-dots-vertical-rounded font-medium-3 cursor-pointer"></i>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body pb-0">
                                                    <div id="revenue-growth-chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Revenue Growth Chart Starts -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}