{% extends '_base.html' %}

{% block title %}Contracts{% endblock title %}

{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <form>
                        <div class="row border rounded py-2 mb-2">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-verified">Verified</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-verified">
                                        <option value="">Any</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-role">Role</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-role">
                                        <option value="">Any</option>
                                        <option value="User">User</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-status">Status</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Any</option>
                                        <option value="Active">Active</option>
                                        <option value="Close">Close</option>
                                        <option value="Banned">Banned</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                <button href="{% url 'property:add' %}" class="btn btn-primary btn-block glow  mb-0">Add
                                    Property</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    <table id="users-list-datatable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Amount</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Property</th>
                                                <th>Tenant</th>
                                                <th>Edit</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for contract in contract_list %}
                                            <tr>
                                                <td>{{ contract.title }}</td>
                                                <td>
                                                    <div class="badge badge-light-success text-bold-500 py-50">
                                                        {{ contract.rent_tenant }}</div>
                                                </td>
                                                <td>
                                                    <div class="badge badge-light-primary text-bold-500 py-50">
                                                        {{ contract.start_date }}</div>
                                                </td>
                                                <td>
                                                    <div class="badge badge-light-danger text-bold-500 py-50">
                                                        {{ contract.end_date }}</div>
                                                </td>
                                                <td>{{ contract.apartment }}</td>
                                                <td>{{ contract.tenant }}</td>

                                                <td><a href="{{ contract.get_absolute_url }}"><i
                                                            class="bx bx-edit-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock content %}