{% extends "_base.html" %}
{% block title %}Properties: {{ property.title }}{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- page user profile start -->
            <section class="page-user-profile">
                <div class="row">
                    <div class="col-12">



                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="feed" aria-labelledby="feed-tab" role="tabpanel">

                                        <div class="row">
                                            <!-- Property Information Card -->
                                            <div class="col-lg-4">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h5 class="card-title mb-1">Gallery
                                                                <i
                                                                    class="cursor-pointer bx bx-dots-vertical-rounded float-right"></i>
                                                            </h5>
                                                            <div class="row">
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-10.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-11.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-12.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-13.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-05.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-06.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-07.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-08.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                                <div class="col-md-4 col-6 pl-25 pr-0 pb-25">
                                                                    <img src="../../../app-assets/images/profile/user-uploads/user-09.jpg"
                                                                        class="img-fluid" alt="gallery avtar img">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Basic Info Card-->
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h5 class="card-title mb-1">Basic Info
                                                                <i
                                                                    class="cursor-pointer bx bx-dots-vertical-rounded float-right"></i>
                                                            </h5>
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-area mr-50 cursor-pointer"></i>
                                                                    <span>{{ property.title }}</span>
                                                                </li>

                                                                {% if property.layout %}
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-building-house mr-50"></i>
                                                                    <span>{{ property.layout }}</span>
                                                                </li>
                                                                {% endif %}

                                                                {% if property.usable_sqm %}
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-layer mr-50"></i>
                                                                    <span>{{ property.usable_sqm }}</span>
                                                                </li>
                                                                {% endif %}

                                                                {% if property.layout %}
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-building-house mr-50"></i>
                                                                    <span>{{ property.layout }}</span>
                                                                </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Basic Info Card-->
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h5 class="card-title mb-1">Rent Contract General Terms<i
                                                                    class="cursor-pointer bx bx-dots-vertical-rounded float-right"></i>
                                                            </h5>
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-area mr-50 cursor-pointer"></i>
                                                                    <span>Amount: $500</span>
                                                                </li>
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-area mr-50 cursor-pointer"></i>
                                                                    <span>Min. Duration: 1 year</span>
                                                                </li>
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-area mr-50 cursor-pointer"></i>
                                                                    <span>Amount: $500</span>
                                                                </li>
                                                                <li class="d-flex align-items-center mb-25">
                                                                    <i class="bx bx-area mr-50 cursor-pointer"></i>
                                                                    <span>Amount: $500</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <!-- Current tenant & owner-->
                                            <div class="col-lg-8">
                                                <!-- Current tenant -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-title-details d-flex align-items-center">
                                                            <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                                                <img class="img-fluid"
                                                                    src="../../../app-assets/images/profile/user-uploads/social-2.jpg"
                                                                    alt="img placeholder" height="70" width="70">
                                                            </div>
                                                            <div>
                                                                <h5>Current Tenant</h5>
                                                                <div class="card-subtitle">Sub information
                                                                    here</div>
                                                            </div>
                                                        </div>
                                                        <div class="heading-elements">
                                                            <i
                                                                class="bx bx-dots-vertical-rounded font-medium-3 align-middle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-borderless">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="pb-0 pl-0">
                                                                                <strong>Contract Start
                                                                                    Date</strong></td>
                                                                            <td class="pb-0 pl-0">
                                                                                <strong>Contract End
                                                                                    Date</strong></td>

                                                                            <td class="pb-0">
                                                                                <strong>Rent</strong></td>
                                                                            <td class="pb-0">
                                                                                <strong>Status</strong>
                                                                            </td>
                                                                            <td class="pb-0">
                                                                                <strong>Upcoming Rent
                                                                                    Date</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="pl-0">
                                                                                <div
                                                                                    class="badge badge-light-primary text-bold-500 py-50">
                                                                                    02 Apr 2019</div>
                                                                            </td>
                                                                            <td class="pl-0">
                                                                                <div
                                                                                    class="badge badge-light-danger text-bold-500 py-50">
                                                                                    06 May 2019</div>
                                                                            </td>

                                                                            <td>$500</td>
                                                                            <td><span
                                                                                    class="badge badge-light-success">Under
                                                                                    Contract</span>
                                                                            </td>
                                                                            <td>01.01.2020</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span>Progress</span>
                                                            <div class="progress progress-bar-primary progress-sm mb-3">
                                                                <div class="progress-bar progress-label"
                                                                    role="progressbar" aria-valuenow="78"
                                                                    style="width:78%"></div>
                                                            </div>

                                                            <div class="table-responsive">
                                                                <table id="users-list-datatable" class="table">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>full name</th>
                                                                            <th>left on</th>
                                                                            <th>contract</th>
                                                                            <th>role</th>
                                                                            <th>status</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>


                                                                            <td>Dean Stanley</td>
                                                                            <td>30/04/2019</td>
                                                                            <td>No. 150</td>
                                                                            <td>Staff</td>
                                                                            <td><span
                                                                                    class="badge badge-light-secondary">Left
                                                                                    Property</span>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>


                                                                            <td>Zena Buckley</td>
                                                                            <td>06/04/2020</td>
                                                                            <td>No. 135</td>
                                                                            <td>User </td>
                                                                            <td><span
                                                                                    class="badge badge-light-secondary">Left
                                                                                    Property</span>
                                                                            </td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Current Owner -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-title-details d-flex align-items-center">
                                                            <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                                                <img class="img-fluid"
                                                                    src="../../../app-assets/images/profile/user-uploads/social-2.jpg"
                                                                    alt="img placeholder" height="70" width="70">
                                                            </div>
                                                            <div>
                                                                <h5>Current Owner</h5>
                                                            </div>
                                                        </div>
                                                        <div class="heading-elements">
                                                            <i
                                                                class="bx bx-dots-vertical-rounded font-medium-3 align-middle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-borderless">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="pb-0 pl-0">
                                                                                <strong>Bought on
                                                                                    Date</strong></td>
                                                                            <td class="pb-0">
                                                                                <strong>Expected
                                                                                    Rent</strong></td>


                                                                        </tr>
                                                                        <tr>
                                                                            <td class="pl-0">
                                                                                <div
                                                                                    class="badge badge-light-primary text-bold-500 py-50">
                                                                                    02 Apr 2019</div>
                                                                            </td>


                                                                            <td>$500</td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <div class="table-responsive">
                                                                <table id="users-list-datatable" class="table">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>full name</th>
                                                                            <th>left on</th>
                                                                            <th>contract</th>
                                                                            <th>role</th>
                                                                            <th>status</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>


                                                                            <td>Dean Stanley</td>
                                                                            <td>30/04/2019</td>
                                                                            <td>No. 150</td>
                                                                            <td>Staff</td>
                                                                            <td><span
                                                                                    class="badge badge-light-secondary">Left
                                                                                    Property</span>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>


                                                                            <td>Zena Buckley</td>
                                                                            <td>06/04/2020</td>
                                                                            <td>No. 135</td>
                                                                            <td>User </td>
                                                                            <td><span
                                                                                    class="badge badge-light-secondary">Left
                                                                                    Property</span>
                                                                            </td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-details d-flex align-items-center">
                                    <h5>Occupied by Tenant</h5>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="pb-0">
                                                                <strong>Agent Name</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Property Address</strong></td>

                                                            <td class="pb-0">
                                                                <strong>Potential Rent</strong></td>
                                                            
                                                            <td class="pb-0">
                                                                <strong>Expected ROI</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Radu Gafita</td>
                                                            <td>Str. Alexandru Beldiman Nr. 16</td>
                                                            <td>$500</td>
                                                            <td>7%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-details d-flex align-items-center">
                                    <h5>For Rent</h5>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="pb-0">
                                                                <strong>Agent Name</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Property Address</strong></td>

                                                            <td class="pb-0">
                                                                <strong>Potential Rent</strong></td>
                                                            
                                                            <td class="pb-0">
                                                                <strong>Expected ROI</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Radu Gafita</td>
                                                            <td>Str. Alexandru Beldiman Nr. 16</td>
                                                            <td>$500</td>
                                                            <td>7%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">

                                <div class="card-title-details d-flex align-items-center">
                                    <h5>Under Renovation</h5>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="pb-0">
                                                                <strong>Renovation Budget</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Date Receiving Money</strong></td>

                                                            <td class="pb-0">
                                                                <strong>Date Receiving Key</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Date Renovation Starts</strong>
                                                            </td>
                                                            <td class="pb-0">
                                                                <strong>Investor Name</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Radu Gafita</td>
                                                            <td>Str. Alexandru Beldiman Nr. 16</td>
                                                            <td>$65.000</td>
                                                            <td>$500</td>
                                                            <td>None...</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <span>Progress</span>
                                            <div class="progress progress-bar-warning progress-sm mb-3">
                                                <div class="progress-bar progress-label" role="progressbar"
                                                    aria-valuenow="35" style="width:35%"></div>
                                            </div>
                                            
                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <span>Renovation Team 1, 2, 3, 4, 5</span>
                                                    <thead>
                                                        <tr>

                                                            <th>Title</th>
                                                            <th>Amount Euro/RON</th>
                                                            <th>Team</th>
                                                            <th>Date</th>
                                                            <th>Who Paid</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <td>Renov. Team</td>
                                                            <td>30/04/2019</td>
                                                            <td>Team Ceva aici</td>
                                                            <td>30/04/2019</td>
                                                            <td>Investor/Galdan</td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <span>Renovation Expense Category 1</span>
                                                    <thead>
                                                        <tr>

                                                            <th>Title</th>
                                                            <th>Amount Euro/RON</th>
                                                            <th>Reason</th>
                                                            <th>Date</th>
                                                            <th>Who Paid</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <td>Renov. Team</td>
                                                            <td>30/04/2019</td>
                                                            <td>Team Ceva aici</td>
                                                            <td>30/04/2019</td>
                                                            <td>Investor/Galdan</td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <span>Renovation Expense Category 2</span>
                                                    <thead>
                                                        <tr>

                                                            <th>Title</th>
                                                            <th>Amount Euro/RON</th>
                                                            <th>Reason</th>
                                                            <th>Date</th>
                                                            <th>Who Paid</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <td>Renov. Team</td>
                                                            <td>30/04/2019</td>
                                                            <td>Team Ceva aici</td>
                                                            <td>30/04/2019</td>
                                                            <td>Investor/Galdan</td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <span>Renovation Expense Category 3</span>
                                                    <thead>
                                                        <tr>

                                                            <th>Title</th>
                                                            <th>Amount Euro/RON</th>
                                                            <th>Reason</th>
                                                            <th>Date</th>
                                                            <th>Who Paid</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <td>Renov. Team</td>
                                                            <td>30/04/2019</td>
                                                            <td>Team Ceva aici</td>
                                                            <td>30/04/2019</td>
                                                            <td>Investor/Galdan</td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <span>And so on ... </span>
                                                    <thead>
                                                        <tr>

                                                            <th>Title</th>
                                                            <th>Amount Euro/RON</th>
                                                            <th>Reason</th>
                                                            <th>Date</th>
                                                            <th>Who Paid</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <td>Renov. Team</td>
                                                            <td>30/04/2019</td>
                                                            <td>Team Ceva aici</td>
                                                            <td>30/04/2019</td>
                                                            <td>Investor/Galdan</td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-details d-flex align-items-center">
                                    <h5>Buying</h5>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <span>Below will be a timeline with events that happened regarding this property. (recent activities) </span>

                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="pb-0 pl-0">
                                                                <strong>Notary Costs</strong></td>
                                                            <td class="pb-0 pl-0">
                                                                <strong>Legal Costs</strong></td>

                                                            <td class="pb-0 pl-0">
                                                                <strong>Accountant Costs</strong></td>
                                                            <td class="pb-0 pl-0">
                                                                <strong>Other Costs</strong>
                                                            <td class="pb-0">
                                                                <strong>Potential Rent</strong>
                                                            </td>
                                                            <td class="pb-0 pl-0">
                                                                <strong>Expected ROI</strong></td>

                                                        </tr>
                                                        <tr>
                                                            <td class="pl-0">
                                                                <div
                                                                    class="badge badge-light-danger text-bold-500 py-50">
                                                                    $3.500</div>
                                                            </td>
                                                            <td class="pl-0">
                                                                <div
                                                                    class="badge badge-light-danger text-bold-500 py-50">
                                                                    $1.750</div>
                                                            </td>
                                                            <td class="pl-0">
                                                                <div
                                                                    class="badge badge-light-danger text-bold-500 py-50">
                                                                    $500</div>
                                                            </td>
                                                            <td class="pl-0">
                                                                <div
                                                                    class="badge badge-light-danger text-bold-500 py-50">
                                                                    $250</div>
                                                            </td>
                                                            <td>$500</td>
                                                            <td class="pl-0">
                                                                <div
                                                                    class="badge badge-light-warning text-bold-500 py-50">
                                                                    7%</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                           


                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-details d-flex align-items-center">
                                    <h5>Opportunity Stage</h5>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="pb-0">
                                                                <strong>Owner Full Name</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Property Address</strong></td>

                                                            <td class="pb-0">
                                                                <strong>Asking For</strong></td>
                                                            <td class="pb-0">
                                                                <strong>Potential Rent</strong>
                                                            </td>
                                                            <td class="pb-0">
                                                                <strong>Expected ROI</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Radu Gafita</td>
                                                            <td>Str. Alexandru Beldiman Nr. 16</td>
                                                            <td>$65.000</td>
                                                            <td>$500</td>
                                                            <td>7%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
    </div>
</div>






{% endblock content %}