<!-- templates/books/book_list.html -->
{% extends '_base.html' %}

{% block title %}Properties{% endblock title %}

{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <form>
                        <div class="row border rounded py-2 mb-2">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-verified">Verified</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-verified">
                                        <option value="">Any</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-role">Role</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-role">
                                        <option value="">Any</option>
                                        <option value="User">User</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-status">Status</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Any</option>
                                        <option value="Active">Active</option>
                                        <option value="Close">Close</option>
                                        <option value="Banned">Banned</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalScrollable">
                                    Add New Property
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    <table id="users-list-datatable" class="table">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>username</th>
                                                <th>name</th>
                                                <th>last activity</th>
                                                <th>verified</th>
                                                <th>role</th>
                                                <th>status</th>
                                                <th>edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for property in property_list %}
                                            <tr>
                                                <td>{{ property.title }}</td>
                                                <td><a
                                                        href="../../../html/ltr/vertical-menu-template/page-users-view.html">wesley0508</a>
                                                </td>
                                                <td>Wesley Oneil</td>
                                                <td>05/08/2020</td>
                                                <td>No</td>
                                                <td>Staff</td>
                                                <td><span class="badge badge-light-danger">Banned</span></td>
                                                <td><a href="{{ property.get_absolute_url }}"><i
                                                            class="bx bx-edit-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- users list ends -->

            

            <!--scrolling content Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Create a new property</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="bx bx-x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label for="property-address">Address </label>
                                        <input type="text" class="form-control"
                                            id="property-address" name="property-address"
                                            value="{% if stage_opportunity.address %} {{stage_opportunity.address}} {% endif %}"
                                            placeholder="Enter Your Address">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-city">City</label>
                                        <input type="text" class="form-control" id="property-city"
                                            name="property-city"
                                            value="{% if stage_opportunity.city %} {{stage_opportunity.city}} {% endif %}"
                                            placeholder="Enter Your City">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-zipcode">Zip Code</label>
                                        <input type="text" class="form-control"
                                            id="property-zipcode" name="property-zipcode"
                                            value="{% if stage_opportunity.zipcode %} {{stage_opportunity.zipcode}} {% endif %}"
                                            placeholder="Enter Your Zip Code">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-owner">Owner</label>
                                        <input type="text" class="form-control" id="property-owner"
                                            name="property-owner"
                                            value="{% if stage_opportunity.owner %} {{stage_opportunity.owner}} {% endif %}"
                                            placeholder="Enter Your Owner">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-asking-price">Asking price</label>
                                        <input type="text" class="form-control"
                                            id="property-asking-price" name="property-asking-price"
                                            value="{% if stage_opportunity.asking_price %} {{stage_opportunity.asking_price}} {% endif %}"
                                            placeholder="Enter Your Asking price">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-residence-complex">Residence
                                            Complex</label>
                                        <input type="text" class="form-control"
                                            id="property-residence-complex"
                                            name="property-residence-complex"
                                            value="{% if stage_opportunity.residence_complex %} {{stage_opportunity.residence_complex}} {% endif %}"
                                            placeholder="Enter Your Residence Complex">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-building">Building</label>
                                        <input type="text" class="form-control"
                                            id="property-building" name="property-building"
                                            value="{% if stage_opportunity.building %} {{stage_opportunity.building}} {% endif %}"
                                            placeholder="Enter Your Building">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-entrance">Entrance</label>
                                        <input type="text" class="form-control"
                                            id="property-entrance" name="property-entrance"
                                            value="{% if stage_opportunity.entrance %} {{stage_opportunity.entrance}} {% endif %}"
                                            placeholder="Enter Your Entrance">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-floor">Floor</label>
                                        <input type="text" class="form-control" id="property-floor"
                                            name="property-floor"
                                            value="{% if stage_opportunity.floor %} {{stage_opportunity.floor}} {% endif %}"
                                            placeholder="Enter Your Floor">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-apartment-number">Apartment
                                            Number</label>
                                        <input type="text" class="form-control"
                                            id="property-apartment-number"
                                            name="property-apartment-number"
                                            value="{% if stage_opportunity.apartament_number %} {{stage_opportunity.apartament_number}} {% endif %}"
                                            placeholder="Enter Your Apartment Number">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-reper">Reper</label>
                                        <input type="text" class="form-control" id="property-reper"
                                            name="property-reper"
                                            value="{% if stage_opportunity.reper %} {{stage_opportunity.reper}} {% endif %}"
                                            placeholder="Enter Your Reper">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-vecinatati">Vecinatati</label>
                                        <input type="text" class="form-control"
                                            id="property-vecinatati" name="property-vecinatati"
                                            value="{% if stage_opportunity.vecinatati %} {{stage_opportunity.vecinatati}} {% endif %}"
                                            placeholder="Enter Your Vecinatati">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-usable-sqm">Usable Sqm</label>
                                        <input type="number" step="0.01" min="0"
                                            class="form-control" id="property-usable-sqm"
                                            name="property-usable-sqm"
                                            value="{% if stage_opportunity.usable_sqm %} {{stage_opportunity.usable_sqm}} {% endif %}"
                                            placeholder="Enter Your Usable Sqm">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-build-sqm">Build Sqm</label>
                                        <input type="number" step="0.01" min="0"
                                            class="form-control" id="property-build-sqm"
                                            name="property-build-sqm"
                                            value="{% if stage_opportunity.build_sqm %} {{stage_opportunity.build_sqm}} {% endif %}"
                                            placeholder="Enter Your Build Sqm">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-destination">Destination</label>
                                        <input type="text" class="form-control"
                                            id="property-destination" name="property-destination"
                                            value="{% if stage_opportunity.destination %} {{stage_opportunity.destination}} {% endif %}"
                                            placeholder="Enter Your Destination">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-layout">Layout</label>
                                        <input type="text" class="form-control" id="property-layout"
                                            name="property-layout"
                                            value="{% if stage_opportunity.layout %} {{stage_opportunity.layout}} {% endif %}"
                                            placeholder="Enter Your Layout">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-comfort-type">Comfort Type</label>
                                        <input type="text" class="form-control"
                                            id="property-comfort-type" name="property-comfort-type"
                                            value="{% if stage_opportunity.comfort_type %} {{stage_opportunity.comfort_type}} {% endif %}"
                                            placeholder="Enter Your Comfort Type">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-interior-state">Interior State</label>
                                        <input type="text" class="form-control"
                                            id="property-interior-state"
                                            name="property-interior-state"
                                            value="{% if stage_opportunity.interior_state %} {{stage_opportunity.interior_state}} {% endif %}"
                                            placeholder="Enter Your Interior State">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-no-of-rooms">Number of Rooms</label>
                                        <input type="number" step="1" min="0" class="form-control"
                                            id="property-no-of-rooms" name="property-no-of-rooms"
                                            value="{% if stage_opportunity.number_of_rooms %} {{stage_opportunity.number_of_rooms}} {% endif %}"
                                            placeholder="Enter Your Number of Rooms">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-no-of-beds">Bedrooms</label>
                                        <input type="number" step="1" min="0" class="form-control"
                                            id="property-no-of-beds" name="property-no-of-beds"
                                            value="{% if stage_opportunity.bedrooms %} {{stage_opportunity.bedrooms}} {% endif %}"
                                            placeholder="Enter Your Bedrooms">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-no-of-kitchen">Kitchen</label>
                                        <input type="number" step="1" min="0" class="form-control"
                                            id="property-no-of-kitchen"
                                            name="property-no-of-kitchen"
                                            value="{% if stage_opportunity.kitchen %} {{stage_opportunity.kitchen}} {% endif %}"
                                            placeholder="Enter Your Kitchen">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-no-of-bathrooms">Bathrooms</label>
                                        <input type="number" step="1" min="0" class="form-control"
                                            id="property-no-of-bathrooms"
                                            name="property-no-of-bathrooms"
                                            value="{% if stage_opportunity.bathrooms %} {{stage_opportunity.bathrooms}} {% endif %}"
                                            placeholder="Enter Your Bathrooms">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-building-type">Building Type</label>
                                        <input type="text" class="form-control"
                                            id="property-building-type"
                                            name="property-building-type"
                                            value="{% if stage_opportunity.building_type %} {{stage_opportunity.building_type}} {% endif %}"
                                            placeholder="Enter Your Building Type">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-building-construction-date">Building
                                            Construction Date</label>
                                        <input type="date" class="form-control"
                                            id="property-building-construction-date"
                                            name="property-building-construction-date"
                                            value="{% if stage_opportunity.get_building_construction_date %} {{stage_opportunity.get_building_construction_date}} {% endif %}"
                                            placeholder="Enter Your Building Construction Date">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label
                                            for="property-opportunity-description">Description</label>
                                        <input type="text" class="form-control"
                                            id="property-opportunity-description"
                                            name="property-opportunity-description"
                                            value="{% if stage_opportunity.description %} {{stage_opportunity.description}} {% endif %}"
                                            placeholder="Enter Your Description">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="property-potential-rent">Potential Rent</label>
                                        <div class="input-group mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="basic-addon1">$</span>
                                            </div>
                                            <input type="number" step="0.01" min="0"
                                                class="form-control" id="property-potential-rent"
                                                name="property-potential-rent"
                                                placeholder="Enter Your Potential Rent"
                                                aria-label="Potential Rent"
                                                aria-describedby="basic-addon1"
                                                value="{% if stage_opportunity.potential_rent %} {{stage_opportunity.potential_rent}} {% endif %}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="mr-2">Others:</label>
                                        <div class="c-inputs-stacked">
                                            <div class="d-inline-block mr-2">
                                                <fieldset>
                                                    <div class="checkbox pb-1">
                                                        <input type="checkbox"
                                                            class="checkbox__input" id="balcony"
                                                            name="property-balcony"
                                                            {% if stage_opportunity.balcony %}
                                                            checked {% endif %}>
                                                        <label for="balcony">Balcony</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="d-inline-block mr-2">
                                                <fieldset>
                                                    <div class="checkbox pb-1">
                                                        <input type="checkbox"
                                                            class="checkbox__input" id="garage"
                                                            name="property-garage"
                                                            {% if stage_opportunity.garage %}
                                                            checked {% endif %}>
                                                        <label for="garage">Garage</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="d-inline-block mr-2">
                                                <fieldset>
                                                    <div class="checkbox pb-1">
                                                        <input type="checkbox"
                                                            class="checkbox__input" id="basement"
                                                            name="property-basement"
                                                            {% if stage_opportunity.basement %}
                                                            checked {% endif %}>
                                                        <label for="basement">Basement</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
</div>
<!-- END: Content-->



{% endblock content %}