<!-- templates/books/book_list.html -->
{% extends '_base.html' %}

{% block title %}Properties{% endblock title %}

{% block content %}
{% load stage_details %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <form>
                        <div class="row border rounded py-2 mb-2">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-verified">Verified</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-verified">
                                        <option value="">Any</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-role">Role</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-role">
                                        <option value="">Any</option>
                                        <option value="User">User</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-status">Status</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Any</option>
                                        <option value="Active">Active</option>
                                        <option value="Close">Close</option>
                                        <option value="Banned">Banned</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalScrollable">
                                    Add New Property
                                </button>
                            </div>
                            
                        </div>
                    </form>
                </div>


                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    <table id="users-list-datatable" class="table">
                                        <thead>
                                            <tr>

                                                <th>Title</th>
                                                <th>Tenant</th>
                                                <th>Contact</th>
                                                <th>Stage</th>

                                                <th>edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for property in property_list %}
                                            <tr>

                                                <td><a href="{{ property.get_absolute_url }}">{{ property.title }}</a>
                                                </td>
                                                <td>{{property.reviews.all.0.full_name}}</td>

                                                <td>
                                                    {% if property.reviews.all.0.contract_set.all.count > 0 %}
                                                    <a
                                                        href="{% url 'contract:contract_detail' property.reviews.all.0.contract_set.all.0.pk %}">{{property.reviews.all.0.contract_set.all.0.title}}</a>
                                                    {% endif %}
                                                </td>
                                                <td>

                                                    {% stage_opportunity_list property as stage_opportunity %}
                                                    {% stage_buying_list property as stage_buying %}
                                                    {% stage_rent_list property as stage_rent %}
                                                    {% stage_tenant_list property as stage_tenant %}


                                                    {% if stage_tenant %}
                                                    <div class="badge badge-light-success text-bold-500 py-50">
                                                        Tenant Stage</div>

                                                    {% elif stage_rent %}
                                                    <div class="badge badge-light-warning text-bold-500 py-50">
                                                        Rent Stage</div>
                                                    {% elif stage_buying %}
                                                    <div class="badge badge-light-danger text-bold-500 py-50">
                                                        Buying Stage</div>
                                                    
                                                    {% else %}
                                                    <div class="badge badge-light-primary text-bold-500 py-50">
                                                        Opportunity Stage</div>
                                                    
                                                    {% endif %}


                                                </td>
                                                <td><a href="{{ property.get_absolute_url }}"><i
                                                            class="bx bx-edit-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- users list ends -->



            <!--scrolling content Modal -->
            <div class="modal fade " id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <form id="property-create-form" data-reload="true">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Create a new property</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="bx bx-x"></i>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="property-title">Title</label>
                                            <input type="text" class="form-control" id="property-title"
                                                name="property-title" placeholder="Enter Property Title">
                                        </div>
                                        <div class="divider divider-primary">
                                            <div class="divider-text">Add Property Address</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-city">City</label>
                                            <input type="text" class="form-control" id="property-city"
                                                name="property-city" placeholder="Enter Your City">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-8">
                                        <div class="form-group">
                                            <label for="property-address">Address </label>
                                            <input type="text" class="form-control" id="property-address"
                                                name="property-address" placeholder="Enter Your Address">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-zipcode">Zip Code</label>
                                            <input type="text" class="form-control" id="property-zipcode"
                                                name="property-zipcode" placeholder="Enter Your Zip Code">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-8">
                                        <div class="form-group">
                                            <label for="property-residence-complex">Residence
                                                Complex</label>
                                            <input type="text" class="form-control" id="property-residence-complex"
                                                name="property-residence-complex"
                                                placeholder="Enter Your Residence Complex">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="property-reper">Reper</label>
                                            <input type="text" class="form-control" id="property-reper"
                                                name="property-reper" placeholder="Enter Your Reper">
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="divider divider-primary">
                                            <div class="divider-text">Add Property Details</div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-no-of-rooms">Number of Rooms</label>
                                            <input type="number" step="1" min="0" class="form-control"
                                                id="property-no-of-rooms" name="property-no-of-rooms"
                                                placeholder="Enter Your Number of Rooms">
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-no-of-beds">Bedrooms</label>
                                            <input type="number" step="1" min="0" class="form-control"
                                                id="property-no-of-beds" name="property-no-of-beds"
                                                placeholder="Enter Your Bedrooms">
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-no-of-bathrooms">Bathrooms</label>
                                            <input type="number" step="1" min="0" class="form-control"
                                                id="property-no-of-bathrooms" name="property-no-of-bathrooms"
                                                placeholder="Enter Your Bathrooms">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-no-of-kitchen">Kitchen</label>
                                            <input type="number" step="1" min="0" class="form-control"
                                                id="property-no-of-kitchen" name="property-no-of-kitchen"
                                                placeholder="Enter Your Kitchen">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-usable-sqm">Usable Sqm</label>
                                            <input type="number" step="0.01" min="0" class="form-control"
                                                id="property-usable-sqm" name="property-usable-sqm"
                                                placeholder="Enter Your Usable Sqm">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-build-sqm">Build Sqm</label>
                                            <input type="number" step="0.01" min="0" class="form-control"
                                                id="property-build-sqm" name="property-build-sqm"
                                                placeholder="Enter Your Build Sqm">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-floor">Floor</label>
                                            <input type="text" class="form-control" id="property-floor"
                                                name="property-floor" placeholder="Enter Your Floor">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-destination">Destination</label>
                                            <input type="text" class="form-control" id="property-destination"
                                                name="property-destination" placeholder="Enter Your Destination">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-layout">Layout</label>
                                            <input type="text" class="form-control" id="property-layout"
                                                name="property-layout" placeholder="Enter Your Layout">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-comfort-type">Comfort Type</label>
                                            <input type="text" class="form-control" id="property-comfort-type"
                                                name="property-comfort-type" placeholder="Enter Your Comfort Type">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-interior-state">Interior State</label>
                                            <input type="text" class="form-control" id="property-interior-state"
                                                name="property-interior-state" placeholder="Enter Your Interior State">
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="mr-2">Others:</label>
                                                    <div class="c-inputs-stacked">
                                                        <div class="d-inline-block mr-2">
                                                            <fieldset>
                                                                <div class="checkbox pb-1">
                                                                    <input type="checkbox" class="checkbox__input"
                                                                        id="balcony" name="property-balcony">
                                                                    <label for="balcony">Balcony</label>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="d-inline-block mr-2">
                                                            <fieldset>
                                                                <div class="checkbox pb-1">
                                                                    <input type="checkbox" class="checkbox__input"
                                                                        id="garage" name="property-garage">
                                                                    <label for="garage">Garage</label>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="d-inline-block mr-2">
                                                            <fieldset>
                                                                <div class="checkbox pb-1">
                                                                    <input type="checkbox" class="checkbox__input"
                                                                        id="basement" name="property-basement">
                                                                    <label for="basement">Basement</label>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <div class="divider divider-primary">
                                            <div class="divider-text">Ownership Details</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-8">
                                        <div class="form-group">
                                            <label for="property-owner">Owner</label>
                                            <input type="text" class="form-control" id="property-owner"
                                                name="property-owner" placeholder="Enter Your Owner">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-asking-price">Asking price</label>
                                            <input type="text" class="form-control" id="property-asking-price"
                                                name="property-asking-price" placeholder="Enter Your Asking price">
                                        </div>
                                    </div>

                                    <!-- <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-building">Building</label>
                                            <input type="text" class="form-control"
                                                id="property-building" name="property-building"
                                                
                                                placeholder="Enter Your Building">
                                        </div>
                                    </div> -->

                                    <!-- <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-entrance">Entrance</label>
                                            <input type="text" class="form-control"
                                                id="property-entrance" name="property-entrance"
                                                
                                                placeholder="Enter Your Entrance">
                                        </div>
                                    </div> -->


                                    <!-- <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-apartment-number">Apartment
                                                Number</label>
                                            <input type="text" class="form-control"
                                                id="property-apartment-number"
                                                name="property-apartment-number"
                                                
                                                placeholder="Enter Your Apartment Number">
                                        </div>
                                    </div> -->

                                    <!-- <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-vecinatati">Vecinatati</label>
                                            <input type="text" class="form-control"
                                                id="property-vecinatati" name="property-vecinatati"
                                                
                                                placeholder="Enter Your Vecinatati">
                                        </div>
                                    </div> -->







                                    <!-- <div class="col-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="property-building-type">Building Type</label>
                                            <input type="text" class="form-control"
                                                id="property-building-type"
                                                name="property-building-type"
                                                
                                                placeholder="Enter Your Building Type">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="property-building-construction-date">Building
                                                Construction Date</label>
                                            <input type="date" class="form-control"
                                                id="property-building-construction-date"
                                                name="property-building-construction-date"
                                                
                                                placeholder="Enter Your Building Construction Date">
                                        </div>
                                    </div> -->

                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="property-potential-rent">Potential Rent</label>
                                            <div class="input-group mb-0">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">$</span>
                                                </div>
                                                <input type="number" step="0.01" min="0" class="form-control"
                                                    id="property-potential-rent" name="property-potential-rent"
                                                    placeholder="Enter Your Potential Rent" aria-label="Potential Rent"
                                                    aria-describedby="basic-addon1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="property-opportunity-description">Description</label>
                                            <textarea type="text" class="form-control"
                                                id="property-opportunity-description"
                                                name="property-opportunity-description"
                                                placeholder="Enter Your Description" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Close</span>
                                </button>
                                <button type="button" class="btn btn-primary ml-1" data-dismiss="modal"
                                    id="create-form-submit-btn">
                                    <span class="d-sm-block">Accept</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- END: Content-->



{% endblock content %}


{% block javascript %}
<script>
    function block_card(block_ele) {
        $(block_ele).block({
            message: '<div class="semibold"><span class="bx bx-revision icon-spin text-left"></span>&nbsp; Saving data ...</div>',
            fadeIn: 1000,
            fadeOut: 1000,
            // timeout: 2000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.8,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: '10px 15px',
                color: '#fff',
                width: 'auto',
                backgroundColor: '#333'
            }
        });
    }
    $('#create-form-submit-btn').click(function (e) {
        e.preventDefault();
        $('#property-create-form').submit();
    });
    $('#property-create-form').submit(function (e) {
        e.preventDefault();
        var api_url = `{% url 'property-api:create-property-stage-opportunity' %}`;
        var block_ele = $(this).closest('body');

        block_card(block_ele);

        let data = $(this).serialize();
        data += `&csrfmiddlewaretoken={{csrf_token}}`;

        let name = 'Property';
        var reload = $(this).data('reload');

        $.ajax({
            url: api_url,
            method: 'POST',
            data: data,
            success: function (response) {
                iziToast.success({
                    title: 'Saved',
                    message: `Successfully inserted ${name} data`,
                });
                if (reload)
                {
                    location.reload();
                }
            },
            error: function (response) {
                response = JSON.parse(response['responseText']);
                iziToast.error({
                    title: 'Error',
                    timeout: 10000,
                    message: `Error occurred while inserting ${name} data. ${response['message']}`,
                });
                console.log(response);
            },
            complete: function (response) {
                $(block_ele).unblock();
            }
        });
    });
</script>
{% endblock javascript %}