{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body p-0">
                                    <div class="d-lg-flex justify-content-between">
                                        <div class="widget-card-details d-flex flex-column justify-content-between p-2">
                                            <div>
                                                <h5 class="font-medium-2 font-weight-normal">Followers</h5>
                                                <p class="text-muted">Get Around Easily With Limousine Service</p>
                                            </div>
                                            <a href="#">Details</a>
                                        </div>
                                        <div id="radial-chart-primary"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12 dashboard-users">
                        <div class="row  ">
                            
                            <!-- Statistics Cards Starts -->
                            <div class="col-12">
                                <div class="row">

                                    

                                    <!-- Properties Count -->
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div
                                                        class="badge-circle badge-circle-lg badge-circle-light-success mx-auto mb-50">
                                                        <i class="bx bx-briefcase-alt font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Properties</div>
                                                    <h3 class="mb-0">{{properties_count}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <!-- Tenants Count -->
                                    <div class="col-sm-6 col-12 dashboard-users-danger">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div
                                                        class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                                        <i class="bx bx-user font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Tenants</div>
                                                    <h3 class="mb-0">{{tenants_count}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </section>
        </div>
    </div>
</div>

{% endblock content %}  